In [ ]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [ ]:
#define endpoint
engine = create_engine(
'mysql+mysqlconnector://root:admin123@yelpinstance.cvchd2jvtnxy.us-east-1.rds.amazonaws.com:3306/yelpdb', echo=False)

In [ ]:
def csv_to_sql(df, sql_table_name):
    counter = 0
    while counter <= df.shape[0]:
        subset = df[counter:counter+3000]
        subset.to_sql(name=sql_table_name, con=engine, if_exists = 'append', index=False)
        counter += 3000
        print(counter)

#### YELP USER

In [ ]:
query_user = '''CREATE TABLE `yelpdb`.`user` (
  `user_id` VARCHAR(22) NOT NULL,
  `name` VARCHAR(22) NULL DEFAULT NULL,
  `review_count` INT NULL DEFAULT NULL,
  `yelping_since` DATETIME NULL DEFAULT NULL,
  `friends` TEXT(65535) NULL DEFAULT NULL,
  `useful` INT NULL DEFAULT NULL,
  `funny` INT NULL DEFAULT NULL,
  `cool` INT NULL DEFAULT NULL,
  `fans` INT NULL DEFAULT NULL,
  `elite` VARCHAR(22) NULL DEFAULT NULL,
  `average_stars` FLOAT NULL DEFAULT NULL,
  `compliment_hot` INT NULL DEFAULT NULL,
  `compliment_more` INT NULL DEFAULT NULL,
  `compliment_profile` INT NULL DEFAULT NULL,
  `compliment_cute` INT NULL DEFAULT NULL,
  `compliment_list` INT NULL DEFAULT NULL,
  `compliment_note` INT NULL DEFAULT NULL,
  `compliment_plain` INT NULL DEFAULT NULL,
  `compliment_cool` INT NULL DEFAULT NULL,
  `compliment_funny` INT NULL DEFAULT NULL,
  `compliment_writer` INT NULL DEFAULT NULL,
  `compliment_photos` INT NULL DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE INDEX `idnew_table_UNIQUE` (`user_id` ASC));
'''

con = engine.connect()
rs = con.execute(query_user)

In [ ]:
user_df = pd.read_csv('./yelp_user.csv')
user_df.shape

In [ ]:
csv_to_sql(user_df, 'user')

#### YELP TIP

In [ ]:
query_tip = '''
CREATE TABLE `yelpdb`.`tip` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `text` TEXT(65535) NULL DEFAULT NULL,
  `date` DATETIME NULL DEFAULT NULL,
  `likes` INT NULL DEFAULT NULL,
  `business_id` VARCHAR(22) NULL DEFAULT NULL,
  `user_id` VARCHAR(22) NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `idtip_UNIQUE` (`id` ASC));
'''

con = engine.connect()
rs = con.execute(query_tip)

In [ ]:
tip_df = pd.read_csv('./yelp_tip.csv')
tip_df.shape

In [ ]:
csv_to_sql(tip_df, 'tip')

#### YELP REVIEW

In [ ]:
query_review = '''
CREATE TABLE `yelpdb`.`review` (
  `review_id` VARCHAR(22) NOT NULL,
  `user_id` VARCHAR(22) NULL DEFAULT NULL,
  `business_id` VARCHAR(22) NULL DEFAULT NULL,
  `stars` INT NULL DEFAULT NULL,
  `date` DATETIME NULL DEFAULT NULL,
  `text` TEXT(65535) NULL DEFAULT NULL,
  `useful` INT NULL DEFAULT NULL,
  `funny` INT NULL DEFAULT NULL,
  `cool` INT NULL DEFAULT NULL,
  PRIMARY KEY (`review_id`),
  UNIQUE INDEX `review_id_UNIQUE` (`review_id` ASC));
'''
con = engine.connect()
rs = con.execute(query_review)

In [ ]:
review_df = pd.read_csv('./yelp_review.csv')
review_df.shpae

In [ ]:
csv_to_sql(review_df, 'review')

#### YELP BUSINESS HOUR

In [ ]:
query_business_hour ='''
CREATE TABLE `yelpdb`.`business_hours` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `business_id` VARCHAR(22) NULL DEFAULT NULL,
  `monday` VARCHAR(255) NULL DEFAULT NULL,
  `tuesday` VARCHAR(255) NULL DEFAULT NULL,
  `wednesday` VARCHAR(255) NULL DEFAULT NULL,
  `thursday` VARCHAR(255) NULL DEFAULT NULL,
  `friday` VARCHAR(255) NULL DEFAULT NULL,
  `saturday` VARCHAR(255) NULL DEFAULT NULL,
  `sunday` VARCHAR(255) NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `id_UNIQUE` (`id` ASC));
'''
con = engine.connect()
rs = con.execute(query_business_hour)

In [ ]:
business_hour_df = pd.read_csv('./yelp_business_hours.csv')
business_hour_df.shape

In [ ]:
csv_to_sql(business_hour_df, 'business_hours')

#### YELP CHECKIN

In [ ]:
query_checkin = '''
CREATE TABLE `yelpdb`.`checkin` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `business_id` VARCHAR(22) NULL DEFAULT NULL,
  `weekday` VARCHAR(10) NULL DEFAULT NULL,
  `hour` VARCHAR(22) NULL DEFAULT NULL,
  `checkins` INT NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `id_UNIQUE` (`id` ASC));
'''
con = engine.connect()
rs = con.execute(query_checkin)

In [ ]:
checkin_df = pd.read_csv('yelp_checkin.csv')
checkin_df.shape

In [ ]:
csv_to_sql(checkin_df, 'checkin')